/* Hoja De Estilos DemisWebs */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*::selection{
    background:rgba(0,0,0,.7); }

*{
    margin:0;
    padding:0;
    font-family:"Raleway", sans-serif, Arial, Helvetica;
    box-sizing:border-box; }

body{
    font-size:16px;
    font-weight:700;
    background:#f0f8ff;
    color:rgba(0,0,0,.8); }

.encabezado-principal{
    background:rgba(0,0,0,.9);
    box-shadow:0px 0px 20px 0px rgba(0,0,0,.9);
    width:100%;
    z-index:100;
    display:block;
    overflow:hidden;
    padding:0.625rem 0px; }

#logo{
    color:rgba(255,255,255,.8);
    text-decoration:none;
    transition:font-size .7s;
    float:left;
    padding:0px 0.625rem 0.625rem 0.625rem;
    font-size:1.25rem; }

#logo:hover{
    color:#fff;
    transition:all .4s;
    border-bottom:1px solid #1B4667; }

#navbar{
    float:right;
    display:flex;
    padding:0px 0.625rem; }

#navbar a{
    color:rgba(255,255,255,.8);
    text-decoration:none;
    display:block;
    padding:0px 0.625rem 0.625rem 0.625rem;
    font-size:1.25rem;
    transition:font-size .7s; }

#navbar a:hover{
    border-bottom:1px solid #1B4667;
    transition:all .4s;
    color:#fff; }

.active{
    border-bottom:1px solid #1B4667;
    color:#fff; }

#titulo{
    color:rgba(255,255,255,.9);
    display:block;
    text-align:center;
    padding:20%;
    padding:auto;
    float:center;
    word-spacing:0.125rem;
    transition:all 1s; }

.contenedor{
    width:100%;
    max-width:75rem;
    justify-content:center;
    margin:auto;
    display:flex;
    flex-wrap:wrap; }

.tarjeta{
    width:90%;
    background:#fff;
    border-radius:6px;
    overflow:hidden;
    margin:20px auto;
    box-shadow:0px 2px 2px rgba(0,0,0,.4);
    cursor:default;
    transition:all .4s ease;
    text-align:center;
    color:rgba(0, 0, 0, 0.9);
    line-height:1.5625rem; }

.tarjeta h3{
    padding:1%; }

.tarjeta p{
    margin:1%; }

.tarjeta a{
    color:#0088cc;
    text-decoration:none;
    padding:1%;
    border:1px solid #0088cc;
    margin:2%;
    display:inline-block;
    border-radius:0.375rem; }

.tarjeta a:hover{
    background: #0088cc;
    color:#fff;
    transition:all .3s; }

.tarjeta:hover{
    box-shadow:5px 5px 20px rgba(0,0,0,.6);
    transform:translateY(-3%); }

.comentarios{
    padding:3%;
    z-index:100;
    overflow:hidden;
    text-align:center; }

.comentarios a{
    display:flex; }

.comentarios #telegram{
    display:inline-block;
    margin:0.625rem;
    padding:0.625rem;
    color:#0088cc;
    text-decoration:none;
    font-size:1.25rem; }

.comentarios #telegram:hover{
    background:#0088cc;
    color:#fff;
    border-radius:1.25rem;
    transition-property:background, color, box-shadow;
    transition-duration:.4s; }

.comentarios #instagram{
    display:inline-block;
    margin:0.625rem;
    padding:0.625rem;
    color:#C13584;
    text-decoration:none;
    font-size:1.25rem; }

.comentarios #instagram:hover{
    background:#C13584;
    color:#fff;
    border-radius:1.25rem;
    transition-property:background, color, box-shadow;
    transition-duration:.4s; }

.comentarios #email{
    display:inline-block;
    color:#034EA2;
    text-decoration:none;
    margin:0.625rem;
    padding:0.625rem;
    font-size:1.25rem; }

.comentarios #email:hover{
    background:#034EA2;
    color:#fff;
    border-radius:1.25rem;
    transition-property:background, color, box-shadow;
    transition-duration:.4s; }

.fbcm{
    margin:20px auto;
    background:#fff;
    border-radius:6px;
    box-shadow:0px 5px 5px 10px rgba(0,0,0,.4);
    padding:30px 0px; }

footer{
    position:relative;
    top:410px;
    display:block; }

.pie-pagina{
    padding:0.625rem;
    background:rgba(0,0,0,.9);
    color:rgba(255,255,255,.8);
    display:block;
    text-align:center; }

.pie-pagina a{
    color:rgba(255,255,255,.8); }

.pie-pagina a:hover{
    color:#fff;
    transition:all .5s; }

.pie-info{
    padding:0.625rem;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
    margin-top:10px;
    color:rgba(255,255,255,.8);
    display:block;
    text-align:center; }

.pie-info a{
    color:rgba(255,255,255,.8);
    font-size:1.975rem;
    margin:0px 0.3125rem;
    padding:0px 0.3125rem; }

.pie-info h4{
    font-weight:400;
}

.pie-info a:hover{
    color:#1B4667;
    transition:all .3s; }

@media screen and (max-width:600px){
    body{
        font-size:0.875rem; } 

    #logo{
        padding:0px 0.4375rem;
        font-size:0.875rem; }

    #navbar{
        padding:0px 0.4375rem; }

    #navbar a{
        font-size:0.775rem;
        padding:0px 0.4375rem; }

    .comentarios{
        margin-top:20px;
    }
    
    .fbcm h2, .comentarios h2, .comentarios a{
        font-size:18px;
    }

    #titulo{
        font-size:1.5625rem; }
    
    .tarjeta{
        margin:5% auto; }}

@media screen and (max-width:400px){
    body{
        font-size:0.775rem; } 

    #logo{
        padding:0px 0.4375rem;
        font-size:0.775rem; }

    #navbar{
        padding:0px 0.4475rem; }

    #navbar a{
        font-size:0.775rem;
        padding:0px 0.4375rem; }

    .comentarios{
        margin-top:20px;
    }
    
    .fbcm h2, .comentarios h2, .comentarios a{
        font-size:1.25rem;
    }

    #titulo{
        font-size:1.2625rem; }}